// Content section
.contentsubheader
  margin:       1.2em 0 0.6em
  font-size:    21px

img.subheaderimg
  width:        300px
  margin:       2em 0 0 2em
  border:       4px solid $white
  +box-shadow($shadow1)

.contentbody
  text-align:   justify
  margin:       0 0 0.8em

.contentlink
  font-weight:  700