// Section header


// Content section

.sectionheader-up
  text-transform:   uppercase
  font-size:        $font-size-large
  font-weight:      700    

.sectionheader 
  font-size:        $font-size-base
  font-weight:      700    
  border-bottom:    1px solid $text-color

img.subheaderimg
  width:        300px
  margin:       2em 0 0 2em
  border:       4px solid $white
  +box-shadow($shadow1)

.contentbody
  text-align:   justify
  margin:       0 0 0.8em
  line-height:  1.6em

.contentlink
  font-weight:  700


// Newsletter section
.newslettersection
  margin:           1em 0 0.8em

.cta
  border-bottom:    4px solid $brand-secondary
  padding-bottom:   15px
  margin-bottom:    2em

.emailicon
  padding-right:    1.6em

.mailchimp_email
  height:           2.4em
  width:            40%
  border-radius:    2px
  outline:          none
  padding:          0 8px
  border:           1px solid $gray-light

input.mailchimp_submit
  background:       $brand-secondary
  color:            $white
  letter-spacing:   0.02em
  border-radius:    2px
  font-weight:      700

  &:hover,
  &:focus
    +transition($transition1)
    background:   darken($brand-secondary, 15%)
    color:        $white

//
// *****************
// PAGES
// *****************

// Inline images
img.contentimg
  max-width:      100%
  padding:        0.8em 0

// Special styles
.motto 
  font-weight:    700
  text-align:     left
  padding:        0.4em 0