// Footer
footer
  padding:        2em 0 0.4em
  background:     darken($gray, 20%)
  color:          $white

dt 
  color:          $gray-light
  
footer a
  color:          $gray-light

  &:hover,
  &:focus
    color:        $white

img.logotype
  margin:         2em 0 1em
  width:          120px

dd
  margin:         3px 0

.madeby
  margin:         3.2em 0 0
  text-align:     right
  color:          rgba(255,255,255,0.4)
  font-size:      14px