// Navbar and logo
img.logo
  height: 80px
  margin-top: -4px
  -webkit-filter: drop-shadow(0 0 2px rgba(255,255,255,1.0))
  filter: drop-shadow(0 0 2px rgba(255,255,255,1.0))

.logo-wrapper
  margin: 0 2em 0 0

ul.nav
  font-size: 17px
  font-weight: 700
  text-transform: uppercase

  padding: 1.4em 0 0.4em 0

  li
    padding-right: 1.8em

.navbar
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7)
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.7)
  box-shadow: 0 0 4px rgba(0,0,0,0.7)