// customize bootstrap variables here:
@import "variables"
@import "footer"
@import "navbar"
@import "bootstrap"


// General settings and overrides
$body-bg: #ecf0f1
body a
  +transition($transition1)
  &:hover,
  &:focus
    text-decoration: none

.text-center
  text-align: center

.caret
  margin-top: -3px


// Hero section
.hero
  position:   relative
  overflow:   hidden
  padding:    4em 0
  color:      $text-color-inverse
  min-height: 1em

  background: url('../img/hero.jpg') no-repeat 0 0
  background-size: cover

  border-bottom: 8px solid $brand-primary

  +media-md
    padding: 16em 0
    background: url('../img/hero.jpg') no-repeat 0 -16px
    background-size: cover


.boxwrapper
  margin-top:     -3em
  background:     rgba(255, 255, 255, 0.9)  
  padding-left:   2.6em
  padding-right:  0

.insetbox
  padding:        0.6em 0.6em 0.6em 0
  border-bottom:  $gray_dark 1px solid
  

  h2
    color:            $gray_dark
    padding:          0 1.2em 0 0
    text-transform:   uppercase
    font-size:        28px
    font-weight:      300
    text-shadow:      $blackoutline

figcaption
  position:     absolute
  bottom:       4px
  right:        2em         
  font-size:    12px
  color:        $white_transp
  padding:      0.1em 0.5em
  background:   rgba(0, 0, 0, 0.1)

  a
    color:      $white_transp
    &:hover,
    &:focus 
      color:    $white